<%- include('parts/html-head')  %> 
<body class="sub_page">
<%- include('parts/navibar') %>
</div>

<%- include('parts/shop_sec') %>

<%- include('parts/scripts') %>

<%- include('parts/shop_js') %>

<%- include('parts/footer') %> 